* {
    box-sizing: border-box;
    margin: 0;
  }
  
body {
font-family: 'Roboto', sans-serif;
padding: 20px;
}


/* HEADER */
.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu li {
    padding: 10px;   
    border-radius: 5px;
    border: 2px solid #000000;
    margin-bottom: 5px;
    background-color: #EAEAEA;
}

.menu a {
    text-decoration: none;
    color: #000000;
    width: 45%;
    text-align: center;
}

@media (min-width: 768px) {
    header {
        max-width: 700px;
        margin: auto;
    }
}